/* SignInPage.css */

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #4f46e5, #3b82f6);
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.p{
  margin-top: -40%;
  cursor: pointer;
  font-size: xx-large;
}
.signin-box {
  background: white;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.signin-box h2 {
  margin-bottom: 25px;
  color: #3b82f6;
  text-align: center;
}

.signin-box label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.signin-box input {
  width: 90%;
  padding: 10px 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.2s;
}

.signin-box input:focus {
  border-color: #3b82f6;
  outline: none;
}

.signin-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.signin-box button:hover {
  background-color: #1e40af;
}

.login-link {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  color: #555;
}

.login-link a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}
.log{
  cursor: pointer;
}